.events {
  background-color: $events-bg;

  @media (max-width: $mobile-max-width) {
    padding-top: 35px;
    padding-bottom: 30px;
  }

  @media (min-width: $desktop-min-width) {
    padding-top: 50px;
    padding-bottom: 48px;
  }
}

.events__slider {
  width: 280px;
}

.events-slider__list {
  @media (max-width: $mobile-max-width) {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
  }
}

.event__info {
  @media (max-width: $mobile-max-width) {
    width: 280px;
    margin-top: 104px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
  }
}

.events__title {
  color: $events-title-fc;
  text-align: center;

  @media (min-width: $desktop-min-width) {
    width: 1120px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 44px;
  }
}

.events__list {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $desktop-min-width) {
    max-height: 400px;
  }
}
