.footer-nav__list {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $desktop-min-width) {
    max-width: 842px;
  }
}

.footer-nav__item {
  @media (min-width: $desktop-min-width) {
    width: 188px;
    margin-bottom: 20px;
  }

  &:not(:nth-of-type(4n)) {
    @media (min-width: $desktop-min-width) {
      margin-right: 30px;
    }
  }
}

.footer-nav__link {
  color: $footer-fc;

  &:hover,
  &:focus {
    color: $footer-link-hover-fc;
    outline: none;
  }

  &:active {
    opacity: 0.7;
  }

  &--heading {
    display: block;

    font-weight: bold;
    text-transform: uppercase;

    @media (min-width: $desktop-min-width) {
      margin-bottom: 41px;
    }
  }
}

.footer-nav__nesting-item {
  @media (min-width: $desktop-min-width) {
    margin-bottom: 7px;
  }
}
