.implant-examples {
  @media (max-width: $mobile-max-width) {
    display: none;
  }

  @media (min-width: $tablet-min-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
  }

  @media (min-width: $desktop-min-width) {
    width: $container-max-width;
  }
}

.implant-examples__item {
  margin-bottom: 20px;

  &--rootform {
    .implant-examples__link {
      color: $rootform-color;
    }
  }

  &--compressive-ms {
    .implant-examples__link {
      color: $compressive-ms-color;
    }

    .implant-examples__flag {
      background-color: $compressive-ms-color;
    }
  }

  &--compressive-m {
    .implant-examples__link {
      color: $compressive-m-color;
    }

    .implant-examples__flag {
      background-color: $compressive-m-color;
    }
  }

  &--compressive-mp {
    .implant-examples__link {
      color: $compressive-mp-color;
    }

    .implant-examples__flag {
      background-color: $compressive-mp-color;
    }
  }

  &--compressive {
    .implant-examples__link {
      color: $compressive-color;
    }
  }

  &--compressive-s {
    .implant-examples__link {
      color: $compressive-s-color;
    }

    .implant-examples__flag {
      background-color: $compressive-s-color;
    }
  }

  &--basal {
    .implant-examples__link {
      color: $basal-color;
    }
  }

  &--basal-ss {
    .implant-examples__link {
      color: $basal-ss-color;
    }

    .implant-examples__flag {
      background-color: $basal-ss-color;
    }
  }

  @media (min-width: $desktop-min-width) {
    width: 135px;
    margin-left: 15px;
    margin-right: 17px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.implant-examples__link {
  &:hover,
  &:focus {
    color: $examples-fc-hover;
    outline: none;
  }

  &:active {
    color: $examples-fc-active;
  }
}

.implant-examples__image {
  width: 100%;
}

.implant-examples__title {
  margin-top: 13px;
  max-width: 170px;

  font-family: $daxline-pro;
  font-size: $implant-fs;
  line-height: $implant-lh;
  font-weight: bold;
  text-transform: uppercase;
  vertical-align: top;
}

.implant-examples__flag {
  display: inline-block;
  width: 28px;
  margin-top: -5px;
  padding-top: 4px;
  border-radius: 4px;

  color: $examples-flag-fc;
  text-align: center;
  vertical-align: inherit;
}

.implant-examples__image-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
