.main-nav {
  font-family: $daxline-pro;
  font-size: $main-nav-fs;

  background-color: $main-nav-bg;

  @media (max-width: $mobile-max-width) {
    position: fixed;
  }

  @media (max-width: $tab-middle-min) {
    top: 0;
    z-index: 5;

    width: 100%;

    &--closed {
      min-height: 69px;
      padding-top: 20px;
      padding-bottom: 20px;

      animation-name: mainNavClose;
      animation-duration: 0.5s;
      animation-timing-function: ease-out;
    }

    &--opened {
      position: fixed;

      width: 100vw;
      height: 100vh;
      padding-top: 52px;
      padding-bottom: 20px;
      overflow-y: scroll;

      background-image: linear-gradient(95deg, #e33439 460px, #c22a2e 460px);

      animation-name: mainNavOpen;
      animation-duration: 0.5s;
      animation-timing-function: ease-out;

      .container {
        @media (max-width: $tab-middle-min) {
          padding: 0;
        }
      }
    }
  }

  @media (min-width: $desktop-min-width) {
    margin-bottom: 25px;
  }

  .container {
    @media (min-width: $tab-middle-max) and (max-width: $tablet-max-width) {
      padding-left: 0;
      padding-right: 0;
    }

    @media (min-width: $desktop-min-width) {
      width: $container-max-width;
      padding: 0;
    }
  }
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $tab-middle-min) {
    flex-direction: column;

    &--closed {
      margin-bottom: 20px;

      animation-name: mainNavClose;
      animation-duration: 0.5s;
      animation-timing-function: ease-out;
    }

    &--opened {
      padding-bottom: 10px;

      transition-property: all;
      transition-duration: 0.5s;
    }
  }

  @media (min-width: $tab-middle-max) {
    align-items: center;
  }
}

.main-nav__item {
  position: relative;

  line-height: $main-nav-lh;
  font-weight: bold;

  transition-property: background-color;
  transition-duration: $short-transition;

  @media (max-width: $tab-middle-min) {
    width: 100%;
  }

  @media (min-width: $tab-middle-max) and (max-width: $tablet-max-width) {
    flex-grow: 1;
  }

  @media (min-width: $desktop-min-width) {
    min-width: 14%;

    &:not(:nth-of-type(n + 7)) {
      flex-grow: 1;
    }

    &:not(:first-of-type):not(:nth-of-type(6n)):not(:nth-of-type(7n)) {
      .main-nav__link {
        padding-left: 48px;

        text-align: center;

        &--list {
          padding-right: 55px;
        }
      }
    }

    &:first-of-type,
    &:nth-of-type(7n) {
      margin-left: -15px;
      padding-left: 15px;

      .main-nav__link {
        padding-left: 21px;
      }
    }

    &:nth-of-type(6n) {
      flex-grow: 1;
      margin-right: -22px;

      .main-nav__link {
        padding-right: 30px;
        padding-left: 65px;

        text-align: right;
      }
    }
  }

  &:hover,
  &:focus,
  &:focus-within {
    background-color: $main-nav-item-bg-hover;
    z-index: 7;

    .main-nav__nesting-list {
      background-color: $main-nav-item-bg-hover;
      z-index: 7;
      overflow: hidden;

      @media (min-width: $tab-middle-max) {
        animation-name: nestingListOpen;
        animation-duration: 0.4s;
        animation-timing-function: ease-in-out;
      }
    }

    .main-nav__nesting-item {
      @media (min-width: $tab-middle-max) {
        animation-name: nestingItemsOpen;
        animation-duration: 0.4s;
        animation-timing-function: ease-in-out;
      }
    }
  }
}

.main-nav__link {
  padding-top: 28px;
  padding-bottom: 23px;

  color: $main-nav-fc;
  text-transform: uppercase;
  word-break: break-word;

  cursor: pointer;

  @media (min-width: $main-nav-grbg) and (max-width: $tablet-min-width) {
    width: 65%;
  }

  @media (max-width: $tab-middle-min) {
    display: flex;
    align-items: center;

    padding-left: 60px;
    padding-right: 40px;
  }

  @media (min-width: $tablet-min-width) and (max-width: $tab-middle-min) {
    width: 50%;
  }

  @media (min-width: $tab-middle-max) and (max-width: $tablet-max-width) {
    display: block;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
  }

  @media (min-width: $desktop-min-width) {
    display: flex;
    align-items: center;
    max-width: 320px;
    padding-right: 48px;
  }

  &:hover,
  &:focus {
    outline: none;
  }

  &:active {
    color: $main-nav-fc-active;
  }

  &--list {
    position: relative;
    z-index: 5;

    @media (min-width: $desktop-min-width) {
      display: flex;
    }

    &::after {
      content: "";

      flex-shrink: 0;
      width: 10px;
      height: 8px;
      margin-top: -5px;
      margin-left: 14px;

      background-image: url("../img/menu-arrow.svg");
      background-size: 10px 8px;
      background-position: 0 0;

      @media (min-width: $tab-middle-max) and (max-width: $tablet-max-width) {
        position: absolute;
        top: 36px;
        margin-left: 7px;
      }
    }
  }
}

.main-nav__nesting-list {
  width: 100%;
  padding-bottom: 14px;

  @media (min-width: $tab-middle-max) {
    position: absolute;
    z-index: 6;

    background-color: $main-nav-item-bg-hover;
  }
}


.main-nav__nesting-item {
  font-weight: normal;
  line-height: $main-nav-nesting-lh;
}

.main-nav__nesting-link {
  display: block;
  padding-top: 7px;
  padding-left: 36px;
  padding-bottom: 10px;
  padding-right: 20px;

  color: $main-nav-fc;

  transition-property: background-color;
  transition-duration: $short-transition;

  @media (max-width: $tab-middle-min) {
    padding-left: 60px;
  }

  @media (min-width: $main-nav-grbg) and (max-width: $tablet-min-width) {
    width: 65%;
  }

  @media (min-width: $tablet-min-width) and (max-width: $tab-middle-min) {
    width: 40%;
  }

  &:hover,
  &:focus {
    outline: none;

    @media (max-width: $main-nav-grbg) {
      background-color: $main-nav-nest-item-hover;
    }

    @media (min-width: $main-nav-grbg) and (max-width: $tab-middle-min) {
      background-image: linear-gradient(95deg, #e33439 95%, #c22a2e 95%);
    }

    @media (min-width: $tab-middle-max) {
      background-color: $main-nav-nest-item-hover;
    }
  }

  &:active {
    color: $main-nav-fc-active;
  }
}

@keyframes nestingItemsOpen {
  0% {
    margin-top: -40px;
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  100% {
    margin-top: 0;
    opacity: 1;
  }
}

@keyframes nestingItemsClose {
  0% {
    margin-top: 0;
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    margin-top: -40px;
    opacity: 0;
  }
}

@keyframes nestingListOpen {
  0% {
    transform: translateY(-14px);
    z-index: -1;
    padding-bottom: 0;
  }

  100% {
    transform: translateY(0);
    z-index: 6;
    padding-bottom: 14px;
  }
}

@keyframes nestingListClose {
  0% {
    transform: translateY(0);
    z-index: 6;
    padding-bottom: 14px;
  }

  50% {
    z-index: 0;
  }

  100% {
    transform: translateY(-14px);
    z-index: -1;
    padding-bottom: 0;
  }
}

@keyframes mainNavOpen {
  0% {
    transform: translateY(-87%);
    filter: blur(10px);
  }

  100% {
    transform: translateY(0%);
    filter: blur(0);
  }
}

@keyframes mainNavClose {
  0% {
    transform: translateY(0%);
    opacity: 1;
    filter: blur(0);
  }

  100% {
    transform: translateY(-88%);
    opacity: 0;
    filter: blur(10px);
  }
}

.main-nav__nesting-item--open-anim {
  animation: nestingItemsOpen 0.4s ease-in-out;
}


.main-nav__nesting-list--open-anim {
  animation: nestingListOpen 0.4s ease-in-out;
}

.main-nav__nesting-item--close-anim {
  animation: nestingItemsClose 0.4s ease-in-out;
}


.main-nav__nesting-list--close-anim {
  animation: nestingListClose 0.4s ease-in-out;
}
