.main-nav {
  font-family: $daxline-pro;
  font-size: $main-nav-fs;

  background-color: $main-nav-bg;

  @media (max-width: $mobile-max-width) {
    position: fixed;
    top: 0;
    z-index: 5;

    width: 100%;

    &--closed {
      min-height: 69px;
      padding-top: 20px;
      padding-bottom: 20px;

      animation-name: mainNavClose;
      animation-duration: 0.5s;
      animation-timing-function: ease-out;
    }

    &--opened {
      width: 100vw;
      height: 100vh;
      padding-top: 52px;
      padding-bottom: 20px;
      overflow-y: scroll;

      animation-name: mainNavOpen;
      animation-duration: 0.5s;
      animation-timing-function: ease-out;

      .container {
        @media (max-width: $mobile-max-width) {
          padding: 0;
        }
      }
    }
  }

  @media (min-width: $desktop-min-width) {
    margin-bottom: 25px;
  }

  .container {
    @media (min-width: $desktop-min-width) {
      width: $container-max-width;
      padding: 0;
    }
  }
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $mobile-max-width) {
    flex-direction: column;

    &--closed {
      margin-bottom: 20px;

      animation-name: mainNavClose;
      animation-duration: 0.5s;
      animation-timing-function: ease-out;
    }

    &--opened {
      padding-bottom: 10px;

      transition-property: all;
      transition-duration: 0.5s;
    }
  }

  @media (min-width: $tablet-min-width) {
    align-items: center;
  }
}

.main-nav__item {
  position: relative;

  line-height: $main-nav-lh;
  font-weight: bold;

  transition-property: background-color;
  transition-duration: $short-transition;

  @media (max-width: $mobile-max-width) {
    width: 100%;
  }

  @media (min-width: $desktop-min-width) {
    min-width: 14%;

    &:not(:nth-of-type(n + 7)) {
      flex-grow: 1;
    }

    &:not(:first-of-type):not(:nth-of-type(6n)):not(:nth-of-type(7n)) {
      .main-nav__link {
        padding-left: 48px;

        text-align: center;

        &--list {
          padding-right: 55px;
        }
      }
    }

    &:first-of-type,
    &:nth-of-type(7n) {
      margin-left: -15px;
      padding-left: 15px;

      .main-nav__link {
        padding-left: 21px;
      }
    }

    &:nth-of-type(6n) {
      flex-grow: 1;
      margin-right: -22px;

      .main-nav__link {
        padding-right: 30px;
        padding-left: 65px;

        text-align: right;
      }
    }
  }

  &:hover,
  &:focus,
  &:focus-within {
    background-color: $main-nav-item-bg-hover;

    .main-nav__nesting-list {
      background-color: $main-nav-item-bg-hover;
    }
  }
}

.main-nav__link {
  display: flex;
  align-items: center;
  padding-top: 28px;
  padding-bottom: 23px;

  color: $main-nav-fc;
  text-transform: uppercase;
  word-break: break-word;

  cursor: pointer;

  @media (max-width: $mobile-max-width) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: $desktop-min-width) {
    max-width: 320px;
    padding-right: 48px;
  }

  &:hover,
  &:focus {
    background-color: $main-nav-item-bg-hover;
    outline: none;
  }

  &:active {
    color: $main-nav-fc-active;
  }

  &--list {
    position: relative;
    z-index: 5;

    &::after {
      content: "";

      flex-shrink: 0;
      width: 10px;
      height: 8px;
      margin-top: -5px;
      margin-left: 14px;

      background-image: url("../img/menu-arrow.svg");
      background-size: 10px 8px;
      background-position: 0 0;
    }
  }
}

.main-nav__nesting-list {
  width: 100%;
  padding-bottom: 14px;


  @media (min-width: $tablet-min-width) {
    position: absolute;
    z-index: 3;

    background-color: $main-nav-item-bg-hover;
  }
}

.main-nav__nesting-item {
  font-weight: normal;
  line-height: $main-nav-nesting-lh;
}

.main-nav__nesting-link {
  display: block;
  padding-top: 7px;
  padding-left: 36px;
  padding-bottom: 10px;
  padding-right: 20px;

  color: $main-nav-fc;

  transition-property: background-color;
  transition-duration: $short-transition;

  @media (max-width: $mobile-max-width) {
    padding-left: 60px;
  }

  &:hover,
  &:focus {
    background-color: $main-nav-nest-item-hover;
    outline: none;
  }

  &:active {
    color: $main-nav-fc-active;
  }
}

@keyframes nestingLinkShow {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes nestingLinkClose {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }

  20% {
    opacity: 0;
  }

  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes nestingListOpenDesk {
  0% {
    transform: translateY(-50%);
    height: 0;
  }

  100% {
    transform: translateY(0%);
    height: 100%;
  }
}

@keyframes nestingListOpenMobile {
  0% {
    transform: translateY(-20%);
    height: 0;
  }

  100% {
    transform: translateY(0%);
    height: 100%;
  }
}

@keyframes nestingListCloseMobile {
  0% {
    transform: translateY(0%);
    height: 100%;
    opacity: 0.5;
  }

  100% {
    transform: translateY(-20%);
    height: 0;
    opacity: 0;
  }
}

@keyframes mainNavOpen {
  0% {
    transform: translateY(-87%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes mainNavClose {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(-86%);
  }
}

.nesting-list-animation-desk {
  animation-name: nestingListOpenDesk;
  animation-duration: $short-transition;
  animation-timing-function: linear;
}

.nesting-list-animation-mobile {
  animation-name: nestingListOpenMobile;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
}

.nesting-list-animation-mobile-close {
  animation-name: nestingListCloseMobile;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
}

.nesting-link-animation {
  animation-name: nestingLinkShow;
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
}

.nesting-link-animation-close {
  animation-name: nestingLinkClose;
  animation-duration: 0.8s;
  animation-timing-function: ease-out;
}
