.new-products {
  background-color: $new-prod-section-background;

  @media (min-width: $desktop-min-width) {
    padding-top: 59px;
    padding-bottom: 117px;
  }
}

.new-products__slider {
  z-index: 3;
  overflow: visible;
}

.new-products__heading-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $desktop-min-width) {
    max-width: 456px;
    margin-bottom: 28px;
  }
}

.new-products__product {
  @media (min-width: $desktop-min-width) {
    margin-right: 32px;
  }
}

.new-products__title {
  color: $new-prod-title-fc;
}

.new-products__link {
  font-family: $daxline-pro;
  font-size: $new-prod-link-fs;
  line-height: $new-prod-link-lh;
  color: $new-prod-link-fc;

  border-bottom: 2px dotted;

  &:hover,
  &:focus {
    color: $new-prod-link-hover-fc;
    outline: none;
  }

  &:active {
    border-bottom: none;
  }
}

.new-products__title,
.new-products__link {
  @media (min-width: $tablet-min-width) {
    margin-left: 18px;
    margin-bottom: 20px;
  }
}

.new-products__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;

  @media (min-width: $desktop-min-width) {
    min-height: 600px;
    max-height: 850px;
  }
}
