.new-products {
  background-color: $new-prod-section-background;

  @media (max-width: $mobile-max-width) {
    padding-top: 85px;
    padding-bottom: 30px;
    border-top: 4px solid $main-nav-bg;
  }

  @media (min-width: $desktop-min-width) {
    padding-top: 59px;
    padding-bottom: 117px;
  }
}

.new-products__slider {
  z-index: 3;
  overflow: visible;

  @media (max-width: $mobile-max-width) {
    width: 280px;
  }
}

.new-products__heading-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: $mobile-max-width) {
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: $tablet-min-width) {
    justify-content: space-between;
    align-items: baseline;
  }

  @media (min-width: $desktop-min-width) {
    max-width: 456px;
    margin-bottom: 28px;
  }
}

.new-products__product {
  @media (min-width: $desktop-min-width) {
    margin-right: 32px;
  }
}

.new-products__title {
  color: $new-prod-title-fc;

  @media (max-width: $mobile-max-width) {
    margin-bottom: 0;
  }
}

.new-products__link {
  font-family: $daxline-pro;
  font-size: $new-prod-link-fs;
  line-height: $new-prod-link-lh;
  color: $new-prod-link-fc;

  border-bottom: 2px dotted;

  @media (max-width: $mobile-max-width) {
    margin-bottom: 25px;

    text-align: center;
  }

  &:hover,
  &:focus {
    color: $new-prod-link-hover-fc;
    outline: none;
  }

  &:active {
    border-bottom: none;
  }
}

.new-products__title,
.new-products__link {
  @media (min-width: $tablet-min-width) {
    margin-left: 18px;
    margin-bottom: 20px;
  }
}

.new-products__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;

  @media (min-width: $desktop-min-width) {
    min-height: 600px;
    max-height: 850px;
  }
}
