.news-item {
  display: flex;
  box-sizing: border-box;

  background-repeat: no-repeat;

  transition-property: background-color;
  transition-duration: $short-transition;

  @media (max-width: $mobile-max-width) {
    width: 280px;
    min-height: 355px;

    background-size: 250px auto;
  }

  @media (max-width: $tablet-max-width) {
    background-color: $news-item-hover-bg;
    background-position: 15px 15px;
  }

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    width: 345px;
    min-height: 324px;

    background-size: 315px auto;
  }

  @media (min-width: $desktop-min-width) {
    width: 426px;
    background-size: 387px 153px;
    background-position: 20px 16px;
  }

  &:hover,
  &:focus-within {
    background-color: $news-item-hover-bg;
  }
}

.news-item__link {
  display: block;
  padding-left: 20px;
  padding-right: 20px;

  color: $news-fc;

  @media (min-width: $desktop-min-width) {
    padding-top: 16px;
  }

  &:hover,
  &:focus {
    outline: none;

    .news-item__title {
      color: $news-title-hover-fc;
      text-decoration: underline;
    }
  }

  &:active {
    .news-item__title {
      color: $news-title-active-fc;
      text-decoration: none;
    }
  }
}

.news-item__info {
  padding-left: 15px;
  padding-right: 15px;

  word-break: break-word;

  @media (max-width: $mobile-max-width) {
    margin-top: 125px;
  }

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    margin-top: 139px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  @media (min-width: $desktop-min-width) {
    min-height: 226px;
    margin-top: 153px;
    padding-top: 30px;
    padding-bottom: 20px;
  }
}

.news-item__date {
  display: block;
  opacity: 0.6;

  @media (max-width: $mobile-max-width) {
    margin-bottom: 10px;
  }
}

.news-item__title {
  margin-top: 0;
  margin-bottom: 15px;

  font-family: $daxline-pro;
  font-weight: bold;
  font-size: $news-title-fs;
  line-height: $news-title-lh;

  transition-property: color;
  transition-duration: $short-transition;
}

.news-item__description {
  margin-top: 0;
  margin-bottom: 10px;
}
