.page-header {
  @media (max-width: $mobile-max-width) {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
    border-bottom: 4px solid $main-nav-bg;
  }

  @media (min-width: $desktop-min-width) {
    display: block;
    padding-bottom: 13px;
  }
}

.page-header__top-line {
  @media (max-width: $mobile-max-width) {
    order: 1;
    margin-top: 69px;
    margin-bottom: 30px;
  }

  &::before {
    @media (max-width: $mobile-max-width) {
      content: "";

      position: fixed;
      top: 0;
      left: 0;
      z-index: 2;

      width: 100%;
      height: 69px;
      display: block;
      background-color: $main-nav-bg;
    }
  }
}
