.page-header {
  display: block;

  @media (min-width: $desktop-min-width) {
    padding-bottom: 13px;
  }
}

.page-header__main-nav {
  @media (min-width: $desktop-min-width) {
    margin-bottom: 25px;
  }
}
