.page-header {
  display: block;

  @media (max-width: $mobile-max-width) {
    padding-bottom: 16px;
    border-bottom: 4px solid $main-nav-bg;
  }

  @media (min-width: $desktop-min-width) {
    padding-bottom: 13px;
  }
}
