.phone-numbers {
  font-family: $roboto-bold;
  font-size: $phone-fs;
  line-height: $phone-lh;
  font-weight: bold;

  @media (max-width: $mobile-max-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
  }

  @media (min-width: $tablet-min-width) {
    max-width: 250px;
  }
}

.phone-numbers__item {
  @media (max-width: $mobile-max-width) {
    flex-shrink: 0;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.phone-numbers__link {
  color: $phone-fc;
  letter-spacing: 0.3px;
}
