.product {
  position: relative;

  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;

  background-color: $product-bg;

  @media (max-width: $mobile-max-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
  }

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    width: 355px;
  }

  @media (min-width: $desktop-min-width) {
    align-items: baseline;
    width: 405px;
  }

  &--big {
    @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
      min-height: 510px;
    }

    @media (min-width: $desktop-min-width) {
      min-height: 580px;
    }

    .product__text-wrapper {
      @media (min-width: $tablet-min-width) {
        padding-top: 64px;
      }

      @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
        min-height: 510px;
      }

      @media (min-width: $desktop-min-width) {
        min-height: 580px;
      }
    }

    .product__title {
      @media (min-width: $tablet-min-width) {
        font-size: $product-title-big-fs-d;
      }
    }

    .product__order {
      @media (min-width: $tablet-min-width) {
        margin-top: 39px;
      }
    }

    .product__image {
      &--detail {
        @media (min-width: $tablet-min-width) {
          top: 50%;
          left: 25%;

          max-width: 130px;
          transform: translate(-50%, -52%);
        }

        @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
          left: 22%;
        }

        @media (min-width: $desktop-min-width) {
          left: 25%;

          max-width: 180px;
        }
      }
    }
  }

  &--small {
    @media (min-width: $tablet-min-width) {
      margin-bottom: 20px;
    }

    @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
      min-height: 245px;
    }

    @media (min-width: $desktop-min-width) {
      min-height: 280px;
    }

    .product__text-wrapper {
      @media (min-width: $tablet-min-width) {
        width: 216px;
      }

      @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
        min-height: 245px;
        padding-top: 20px;
        padding-left: 20px;
      }

      @media (min-width: $desktop-min-width) {
        min-height: 280px;
        padding-top: 27px;
        padding-left: 26px;
      }
    }

    .product__title {
      @media (min-width: $tablet-min-width) {
        font-size: $product-title-small-fs-d;
      }
    }

    .product__order {
      @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
        margin-top: 10px;
      }

      @media (min-width: $desktop-min-width) {
        margin-top: 21px;
      }
    }

    .product__image {
      &--detail {
        @media (min-width: $tablet-min-width) {
          top: 46%;

          transform: translate(-50%, -50%);
        }

        @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
          left: 20%;
        }

        @media (min-width: $desktop-min-width) {
          left: 25%;
        }
      }
    }
  }
}

.product__text-wrapper {
  position: relative;
  z-index: 1;

  line-height: $product-text-lh;
  color: $product-text-fc;

  transition-property: background-color;
  transition-duration: $short-transition;

  background-color: $product-text-wrapper-bg;

  @media (max-width: $mobile-max-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    order: 1;
    padding-top: 20px;
    padding-bottom: 15px;
  }

  @media (min-width: $tablet-min-width) {
    width: 206px;
    margin-left: auto;
    padding-left: 22px;
    padding-right: 20px;
    padding-bottom: 20px;
  }

  &--hover {
    background-color: $product-order-hover-bg;
  }
}

.product__title {
  border-bottom: 2px solid #dfe0e4;

  font-family: $daxline-pro;
  font-weight: normal;
  line-height: $product-title-lh;
  color: $product-title-fc;
  word-break: break-word;

  transition-property: color, border-bottom-color;
  transition-duration: $short-transition;

  @media (max-width: $mobile-max-width) {
    width: 90%;
    margin-top: 0;
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: $product-title-fs-m;
    text-align: center;
  }

  @media (min-width: $tablet-min-width) {
    margin-top: 0;
    margin-bottom: 10px;
    padding-bottom: 13px;
  }

  &--hover {
    color: $product-order-hover-color;
    border-bottom-color: $product-order-hover-color;
  }
}

.product__description {
  font-size: $product-text-fs;
  word-break: break-word;

  transition-property: color;
  transition-duration: $short-transition;

  @media (max-width: $mobile-max-width) {
    width: 95%;
    margin-top: 0;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
  }

  @media (min-width: $tablet-min-width) {
    margin-top: 16px;
  }

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-min-width) {
    margin-bottom: 25px;
  }

  &--hover {
    color: $product-order-hover-color;
  }
}

.product__category {
  display: block;

  font-size: $product-text-fs;
  word-break: break-word;

  transition-property: color;
  transition-duration: $short-transition;

  @media (max-width: $mobile-max-width) {
    width: 95%;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;

    text-align: center;
  }

  @media (min-width: $tablet-min-width) {
    margin-bottom: 20px;
  }

  &--hover {
    color: $product-order-hover-color;
  }
}

.product__category-link {
  color: $product-category-fc;
  text-decoration: underline;

  transition-property: color;
  transition-duration: $short-transition;

  &:hover,
  &:focus {
    color: $product-cat-link-hover-fc;
    outline: none;
  }

  &:active {
    text-decoration: none;
  }

  &--hover {
    color: $product-order-hover-color;
  }
}

.product__order {
  position: relative;

  display: block;

  font-size: $product-text-fs;

  @media (max-width: $mobile-max-width) {
    width: 220px;
    padding-left: 40px;
    font-size: 16px;
  }

  @media (min-width: $tablet-min-width) {
    width: 145px;
    padding-top: 11px;
    padding-left: 40px;
    padding-right: 10px;
    padding-bottom: 9px;
  }

  &::before {
    content: "";

    position: absolute;
    top: 8px;
    left: 15px;

    flex-shrink: 0;
    display: block;
    width: 22px;
    height: 19px;

    background-image: url("../img/basket.svg");
    background-repeat: no-repeat;
    background-size: 22px 57px;
    background-position: 0 0;
  }

  &--hover {
    background-color: transparent;
    border-color: $product-order-hover-color;

    &::before {
      background-position: 0 -39px;
    }
  }
}

.product__picture {
  @media (max-width: $mobile-max-width) {
    height: 193px;
  }
}

.product__image {
  @media (max-width: $mobile-max-width) {
    width: 100%;
  }

  @media (min-width: $tablet-min-width) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  &--detail {
    @media (max-width: $mobile-max-width) {
      width: auto;
      height: 160px;
      margin-top: 20px;
    }
  }
}
