.swiper-arrows {
  position: absolute;

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;

  transform: translateX(-50%);
  background-color: transparent;

  @media (min-width: $tablet-min-width) and (max-width: $min-slider-desk-point) {
    position: absolute;
    bottom: 10px;
    z-index: 2;

    margin-left: 50%;
    width: 95%;
  }

  @media (min-width: $max-slider-desk-point) {
    left: 50%;

    width: 1500px;

    justify-content: flex-start;
  }
}

.swiper-button {
  width: 21px;
  height: 36px;
  border: none;

  color: transparent;

  background-color: transparent;
  background-image: url("../img/nav-slider-button.svg");
  background-repeat: no-repeat;
  background-size: 21px 108px;
  background-position: 0 0;

  &:hover,
  &:focus {
    background-position: 0 -36px;
    outline: none;
  }

  &:active {
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
  }

  &-prev {
    transform: rotate(-180deg);
  }

  &-next {
    @media (min-width: $desktop-min-width) and (max-width: $min-slider-desk-point) {
      position: static;
      margin-left: auto;
      margin-top: -9px;
    }
  }
}

.swiper-pagination-bullets {
  @media (min-width: $tablet-min-width) {
    max-width: 300px;
  }

  @media (min-width: $tablet-min-width) {
    position: absolute;
    left: 50%;
    max-width: 300px;
    transform: translateX(-50%);
  }
}

.offers-slider {
  .swiper-arrows {
    @media (max-width: $mobile-max-width) {
      width: 95%;
      z-index: 2;
      left: 50%;
      bottom: -67px;
    }

    @media (min-width: $max-slider-desk-point) {
      top: 289px;
      z-index: 2;
    }
  }

  .swiper-pagination-bullets {
    @media (max-width: $mobile-max-width) {
      width: 185px;
      left: 50%;
      bottom: -54px;
      text-align: center;
      transform: translateX(-50%);
    }

    @media (min-width: $tablet-min-width) {
      margin-top: -49px;
    }

    @media (min-width: $max-slider-desk-point) {
      left: 20px;

      margin-top: -81px;
      transform: none;

      text-align: left;
    }
  }

  .swiper-pagination-bullet {
    @media (max-width: $mobile-max-width) {
      width: 12px;
      height: 12px;
      margin-right: 5px;
    }
  }
}

.new-products__slider {
  .swiper-arrows {
    @media (max-width: $mobile-max-width) {
      left: 50%;
      top: 87px;

      z-index: 5;
      width: 98%;
    }

    @media (min-width: $desktop-min-width) {
      bottom: -70px;
    }

    @media (min-width: $max-slider-desk-point) {
      top: 268px;
    }
  }

  .swiper-pagination-bullets {
    @media (max-width: $mobile-max-width) {
      display: none;
    }

    @media (min-width: $tablet-min-width) {
      top: 32px;
      text-align: center;
      transform: translateX(-50%);
    }
  }
}

.events__slider {
  overflow: visible;

  .swiper-arrows {
    @media (max-width: $events-middle-mob-point) {
      top: 31px;

      width: 280px;
    }

    @media (max-width: $mobile-max-width) {

      left: 50%;
      z-index: 2;
    }

    @media (min-width: $events-middle-mob-point) and (max-width: $mobile-max-width) {
      top: 80px;

      width: 400px;
    }

    @media (min-width: $desktop-min-width) and (max-width: $min-slider-desk-point) {
      top: -87px;
    }

    @media (min-width: $max-slider-desk-point) {
      top: 90px;
    }
  }

  .swiper-button {
    @media (max-width: $events-middle-mob-point) {
      background-position: 0 0;
    }

    @media (min-width: $events-middle-mob-point) and (max-width: $mobile-max-width) {
      background-position: 0 -72px;
    }

    @media (min-width: $tablet-min-width) {
      background-position: 0 -72px;
    }

    &:hover,
    &:focus {
      background-position: 0 -36px;
    }
  }
}

.news__slider {
  overflow: visible;

  .swiper-arrows {
    @media (max-width: $mobile-max-width) {
      width: 100%;
      top: -80px;
      left: 50%;
    }

    @media (min-width: $desktop-min-width) and (max-width: $min-slider-desk-point) {
      top: -87px;
    }

    @media (min-width: $max-slider-desk-point) {
      top: 159px;
    }
  }
}

.swiper-pagination-bullet {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 11px;

  background-color: $pagination-passive-color;
  opacity: 0.6;

  &-active {
    background-color: $pagination-active-color;
    opacity: 1;
  }
}
