.top-line {
  background-color: $top-line-bg;

  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    @media (max-width: $mobile-max-width) {
      padding-top: 10px;
      padding-bottom: 5px;
    }

    @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
      padding-top: 10px;
      padding-bottom: 8px;
    }

    @media (min-width: $desktop-min-width) {
      padding-top: 13px;
      padding-bottom: 10px;
    }
  }
}

.top-line__account-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  @media (max-width: $mobile-max-width) {
    width: 48%;
  }

  @media (min-width: $tablet-min-width) {
    margin-right: 40px;
  }

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    max-width: 290px;
  }

  @media (min-width: $desktop-min-width) {
    max-width: 515px;
  }
}

.top-line__account-item {
  @media (max-width: $mobile-max-width) {
    margin-bottom: 5px;
  }

  &:not(:last-of-type) {
    position: relative;

    @media (max-width: $mobile-max-width) {
      margin-right: 16px;
    }

    @media (min-width: $tablet-min-width) {
      margin-right: 41px;
    }

    &::after {
      content: "";

      position: absolute;
      top: 4px;

      display: block;
      width: 1px;
      height: 14px;

      background-color: $account-fc;

      @media (max-width: $mobile-max-width) {
        right: -9px;
      }

      @media (min-width: $tablet-min-width) {
        right: -21px;
      }
    }
  }
}

.top-line__account-link {
  border-bottom: 1px solid $account-fc;

  font-family: $daxline-pro;
  font-style: normal;
  font-weight: normal;
  font-size: $account-fs;
  line-height: $account-lh;
  color: $account-fc;
  word-break: break-word;

  transition-property: all;
  transition-duration: 0.2s;

  &:hover,
  &:focus {
    color: $account-fc-hover;
    border-bottom-color: $account-fc-hover;
    outline: none;
  }

  &:active {
    border-bottom: none;
  }
}

.top-line__socials {
  margin-left: auto;
}
