@font-face {
  font-family: "DaxlinePro";
  src:
    local("DaxlinePro-Bold"),
    url("../fonts/DaxlinePro-Bold.woff2") format("woff2"),
    url("../fonts/DaxlinePro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "DaxlinePro";
  src:
    local("DaxlinePro-Light"),
    url("../fonts/DaxlinePro-Light.woff2") format("woff2"),
    url("../fonts/DaxlinePro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "DaxlinePro";
  src:
    local("DaxlinePro-Regular"),
    url("../fonts/DaxlinePro-Regular.woff2") format("woff2"),
    url("../fonts/DaxlinePro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Bold";
  src:
    local("Roboto Bold"),
    local("Roboto-Bold"),
    url("../fonts/roboto-bold-webfont.woff2") format("woff2"),
    url("../fonts/roboto-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src:
    local("Roboto"),
    local("Roboto Regular"),
    url("../fonts/roboto-regular-webfont.woff2") format("woff2"),
    url("../fonts/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
