html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: $mobile-min-width;

  font-family: $daxline-pro;
  font-size: 14px;
  line-height: $body-lh;
  font-weight: normal;
  color: $body-fc;

  background-color: $body-bg;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.default-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

.container {
  position: relative;

  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $desktop-min-width) {
    width: $container-max-width;
    margin-left: auto;
    margin-right: auto;
  }
}

.section-title {
  margin-top: 0;

  font-family: $daxline-pro;
  font-weight: normal;
  line-height: $section-title-lh;

  @media (max-width: $mobile-max-width) {
    margin-bottom: 20px;

    font-size: $section-title-fs-m;
    text-align: center;
  }

  @media (min-width: $tablet-min-width) {
    font-size: $section-title-fs;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;

  width: 100%;
  height: 1000%;

  background-color: rgba(0, 0, 0, 0.5);

  &--hidden {
    display: none;
  }
}
