/* Ширины дисплеев */
$mobile-min-width: 320px;
$mobile-max-width: 767px;
$tablet-min-width: 768px;
$tablet-max-width: 1279px;
$desktop-min-width: 1340px;
$desktop-max-width: 1920px;

/* Ретина */
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

/* Шрифты */
$daxline-pro: "DaxlinePro", "Helevatica", "Arial", sans-serif;
$roboto-bold: "Roboto Bold", "Helevatica", "Arial", sans-serif;
$roboto-regular: "Roboto", "Helevatica", "Arial", sans-serif;

/* Переходы */
$short-transition: 0.3s;

/* Глобальная область */
$body-fs: 14px;
$body-lh: 1.5;
$body-fc: #323232;
$body-bg: #ffffff;
$container-max-width: 1320px;
$section-title-fs: 38px;
$section-title-lh: 1.2;

/* Верхняя полоса хедера */
$top-line-bg: #ececec;
$account-fc: #a6a7b1;
$account-fc-hover: #e33439;
$account-fs: 14px;
$account-lh: 1.2;

/* Иконки соц. сетей */
$socials-shadow-color: rgba(155, 155, 155, 0.7);

/* Инфо блок в хедере */
$main-title-fs: 16px;
$main-title-fc: #a6a7a1;
$main-title-lh: 1.2;

/* Кнопка (ссылка) с обводкой */
$button-fs: 16px;
$button-fc: #323232;
$button-fc-hover: #ffffff;
$button-lh: 1.2;
$button-border-color: #e33439;
$button-bg-hover: #e33439;
$button-bg-active: #d4262b;

/* Номера телефонов */
$phone-fs: 22px;
$phone-lh: 1.2;
$phone-fc: #323232;

/* Оформить заявку */
$request-fs: 16px;
$request-lh: 1.2;
$request-fc: #e33439;
$request-fc-hover: #323232;

/* Главное меню */
$main-nav-bg: #e33439;
$main-nav-fs: 16px;
$main-nav-lh: 1.2;
$main-nav-fc: #f9fafe;
$main-nav-fc-active: #faacae;
$main-nav-item-bg-hover: #c22a2e;
$main-nav-nest-item-hover: #e33439;
$main-nav-nesting-lh: 1.4;

/* Примеры имплантов в шапке */
$implant-fs: 16px;
$implant-lh: 1.5;
$rootform-color: #9ebf56;
$compressive-ms-color: #e2c058;
$compressive-m-color: #c0568a;
$compressive-mp-color: #c0568a;
$compressive-color: #b0b0b0;
$compressive-s-color: #b0b0b0;
$basal-color: #6fbbcf;
$basal-ss-color: #6fbbcf;
$examples-flag-fc: #ffffff;
$examples-fc-hover: #323232;
$examples-fc-active: #bcbcbc;
$implant-border-fc: #efefef;

/* Слайдер предложений */
$slide-title-fs-td: 44px;
$slide-title-fs-m: 25px;
$slide-lh: 1.4;
$slide-title-line-color: #e33439;
$slide-desc-fs: 16px;
$slide-color: #323232;
$slide-container-width-d: 1280px;
$pagination-passive-color: #ffffff;
$pagination-active-color: #e33439;
$min-slider-desk-point: 1539px;
$max-slider-desk-point: 1540px;
$offers-link-fc-m: #ffffff;
$offers-link-bg-m: #e33439;
$offers-link-hover-bg-m: #c22a2e;

/* Новинки */
$new-prod-title-fc: #0d0d14;
$new-prod-link-fs: 28px;
$new-prod-link-lh: 1.2;
$new-prod-link-fc: #e33439;
$new-prod-link-hover-fc: #c22a2e;
$new-prod-section-background: #f0f0f0;

/* Карточка продукта в новых продуктах */
$product-bg: #ffffff;
$product-title-fc: #0d0d14;
$product-title-small-fs-d: 22px;
$product-title-big-fs-d: 38px;
$product-title-fs-m: 24px;
$product-title-lh: 1.4;
$product-text-fs: 14px;
$product-text-lh: 1.4;
$product-text-fc: #0d0d14;
$product-category-fc: #e33439;
$product-order-hover-color: #ffffff;
$product-order-hover-bg: #e33439;
$product-cat-link-hover-fc: #0d0d14;
$product-text-wrapper-bg: rgba(255, 255, 255, 0.9);

/* Ближайшие мероприятия */
$events-bg: #9293a6;
$events-title-fc: #ffffff;

/* Мероприятие отдельно */
$event-bg: #e9e9ea;
$event-info-bg: rgba(255, 255, 255, 0.9);
$event-info-hover-bg: #e33439;
$event-info-active-bg: #c22a2e;
$event-info-fs: 14px;
$event-info-lh: 1.2;
$event-link-fc: #323232;
$event-link-hover-fc: #ffffff;
$event-title-fs: 18px;
$event-desc-lh: 1.4;

/* О компании */
$about-title-fc: #0d0d14;

/* Контент из админки */
$content-list-big-fs: 24px;
$content-list-big-lh: 1;
$content-list-small-lh: 1;
$admin-content-fs: 16px;
$admin-content-lh: 1.2;
$admin-content-fc: #323232;
$content-list-circle-color: #e33439;
$admin-content-link-fc: #e43237;
$admin-content-link-hover-fc: #c22a2e;
$admin-content-link-active-fc: #a6a7a1;

/* Новости */
$news-bg: #dfe4eb;
$news-fc: #323232;
$news-item-hover-bg: #eef0f4;
$news-title-fs: 18px;
$news-title-lh: 1.3;
$news-title-hover-fc: #e43237;
$news-title-active-fc: #c22a2e;

/* Футер */
$footer-bg: #2a3236;
$footer-fc: #ffffff;
$footer-fs: 16px;
$footer-lh: 1.2;
$footer-link-hover-fc: #ff7066;
$footer-phone-link-fc: #ffffff;
